* {
    box-sizing: border-box;
}

:root {
    --blue: rgb(255, 255, 255)
    --dark-blue: rgb();
    --red: ;
    --border-radius: 150%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

h1{
    color: aliceblue;
    text-align: left;
    font-size: 250%;
}

h2{
    padding-left: 10%;
    font-family: 'Courier New', Courier, monospace;
}

p {
    padding-left: 10%;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: var(--dark-blue);
    padding: 10px;
    background-image: url(../porter-robinson-worlds-album-top-charts-youredm.jpg);
}

nav a {
    color: var(--blue);
    text-decoration: none;
    padding: 10px;
    margin: 0px;
}

nav a:hover {
    color: #fff;
  }

.about-me {
    padding: 100%, 200%, 100%, 200%;
}
