* {
    box-sizing: border-box;
}

:root {
    --blue: rgb(67, 94, 225);
    --dark-blue: rgb(17, 0, 255);
    --red: rgb(221, 28, 28);
    --white: rgb(255, 255, 255);
    --grey: rgb(177, 177, 177);
    --dark-grey: rgb(78, 78, 78);
    --border-radius: 150%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--grey);
}

header {
    background-color: var(--dark-grey);
    padding: 10px;
    text-align: center;
}

header img {
    margin-left: 1%;
    border-radius: 100%;
}

h1{
    color: aliceblue;
    text-align: center;
    font-size: 250%;
}

h2{
    padding-left: 10%;
    font-family: 'Courier New', Courier, monospace;
}

p {
    padding: 0 10% 0 1% ;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: var(--blue);
    padding: 10px;
}

nav a {
    color: var(--white);
    text-decoration: none;
    padding: 10px;
    margin: 0px;
    
}

nav a:hover {
    color: var(--red);
  }

.about-me {
    padding: 10%, 20%, 10%, 20%;
    border-left: 5px solid var(--dark-grey);
    margin-left: 10%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-item {
    padding: 10%;
    border-radius: 5%;
    border: 2px solid var(--red);
    min-height: 150px;
    max-height: 150px;
    margin: 5%;
}

.flex-item:hover {
    opacity: .5;
}

.flex-item h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dashed;
    border-radius: 20%;
    padding: 2%;
    background-color: var(--blue);
}

.box-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 20%;
    background-color: var(--blue);
}

.refactor {
    background-image: url("../images/Capture24.PNG");
    transform: scale(1.5, 1.5);
    margin-right: 30%;
    margin-left: 30%;
    font-size: 75%;
} 
.horiseon {
    background-image: url("../images/01-html-css-git-homework-demo.png");
}

.java {
    background-image: url("../images/javascript-Djs-Outsourcing.png");
}

.upcoming {
    background-image: url("../images/image03.jpg");
}

.contacts {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--blue);
    padding: 1%;
}

footer {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    nav {
        justify-content: center;
    }

    body {
        background-color: var(--dark-grey);
    }

    p {
        color: var(--white);
    }

    h2 {
        color: var(--white);
    }
  }

@media screen and (max-width: 576px) {
    nav {
        justify-content: center;
    }
}