* {
    box-sizing: border-box;
}

:root {
    --blue: rgb(67, 94, 225);
    --dark-blue: rgb();
    --red: rgb(221, 28, 28);
    --white: rgb(255, 255, 255);
    --border-radius: 150%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    padding: 10px;
    text-align: center;
}

header img {
    margin-left: 1%;
}

h1{
    color: aliceblue;
    text-align: left;
    font-size: 250%;
}

h2{
    padding-left: 10%;
    font-family: 'Courier New', Courier, monospace;
}

p {
    padding: 0 10% 0 1% ;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: var(--blue);
    padding: 10px;
}

nav a {
    color: var(--white);
    text-decoration: none;
    padding: 10px;
    margin: 0px;
    
}

nav a:hover {
    color: var(--red);
  }

.about-me {
    padding: 10%, 20%, 10%, 20%;
    border-left: 5px solid #333333;
    margin-left: 10%;
}

#work {
    border: 5px solid #333333;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-item {
    padding: 10%;
    min-height: 150px;
    max-height: 150px;
}

.flex-item h2 {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: var(--blue);
}

.refactor {
    background-image: url("../Capture24.PNG");
}

.practice {
    background-image: url("../01-html-css-git-homework-demo.png");
}

.contacts {
    display: flex;
    justify-content: space-evenly;
}

footer {
    display: flex;
    justify-content: center;
}

/* ul a {
    padding: 0 10% 0 10%;
} */
@media screen and (max-width: 576px) {
    nav {
        justify-content: center;
    }
}